// Custom sass ..
.container {
    width: 1100px;
}

.flex {
    display: flex;
}

.justifyContentCenter {
    justify-content: center;
}

.searchBox {
    float: right;
    width: 200px;
    padding-bottom: 30px;
}

.centerAlign {
    text-align: center;
}

.imgPadding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgSize {
    height: 250px;
    width: 250px;
}

.paddingTop {
    padding-top: 80px;
}

.paddingBottom {
    padding-bottom: 30px;
}

ul.a {
    list-style-type: none;
}

a:link, a:visited, a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: underline;
}

.articleLinks {
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: black;
    padding-bottom: 10px;
}

.articleText {
    font-size: 13px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    padding-bottom: 20px;
}

.articleTitle {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
// custom sass and css
